// Place all the styles related to the Freq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field {
  margin: 20px;
  list-style: none;
  width: 600px;
}
#freq_input_text {
  width: 600px;
  height: 370px;
}
.actions {
  width: 600px;
  input {
    float: right;
    margin: 3px;
  }
}

.freqlist {
  dt {
    width: 100px;
    font-style: bold;
    background: #6a94d4;
    color: white;
    float: left;
    padding: 1px;
  }
  dd {
    width: 100px;
    margin-left: 125px;
    padding: 1px;
  }
}
