// Place all the styles related to the Freq controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.field {
  margin: 20px;
  list-style: none;
  width: 600px;
}
#freq_input_text {
  width: 600px;
  height: 370px;
}
.actions {
  width: 600px;
}
.actions input {
  float: right;
  margin: 3px;
}
